.u-section-1 .u-sheet-1 {
  min-height: 443px;
}

.u-section-1 .u-text-1 {
  margin: 40px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 40px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: 46px 46px 34px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 222px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 26px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 26px;
    margin-bottom: 26px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 424px;
}

.u-section-2 .u-text-1 {
  margin: 41px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 40px 59px 41px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 50vh;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin: 11px 46px 19px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 955px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 237px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -579px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 31px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 31px;
    margin-bottom: 31px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 958px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 72px 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 520px;
  transition-duration: 0.5s;
}

.u-section-3 .u-container-layout-1 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  line-height: 1.2;
  font-size: 1.875rem;
  margin: 26px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 10px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 520px;
  background-image: url("images/41.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin: 47px 5px 0;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  line-height: 1.2;
  font-size: 1.875rem;
  width: 510px;
  margin: -280px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1014px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-3 .u-image-1 {
    min-height: 429px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1237px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 329px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1523px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 494px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1698px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 589px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 17px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 19px;
  }

  .u-section-3 .u-image-1 {
    min-height: 311px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 83px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -691px;
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-3 .u-layout-cell-1,
.u-section-3 .u-layout-cell-1:before,
.u-section-3 .u-layout-cell-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-3 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 837px;
}

.u-section-4 .u-image-1 {
  width: 300px;
  height: 300px;
  object-position: 90% 50%;
  background-position: 50% 50%;
  background-image: url("images/6.jpg");
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 64px auto 0;
}

.u-section-4 .u-text-1 {
  width: 740px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-2 {
  width: 740px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-3 {
  width: 740px;
  margin: 64px auto 0;
}

.u-section-4 .u-text-4 {
  width: 740px;
  margin: 20px 200px 29px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-4 {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-text-3 {
    width: 720px;
  }

  .u-section-4 .u-text-4 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    width: 540px;
  }

  .u-section-4 .u-text-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    width: 340px;
  }

  .u-section-4 .u-text-4 {
    width: 340px;
  }
}

.u-section-4 .u-image-1,
.u-section-4 .u-image-1:before,
.u-section-4 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}.u-section-5 .u-sheet-1 {
  min-height: 566px;
}

.u-section-5 .u-image-1 {
  width: 496px;
  height: 493px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 24px auto 0 37px;
}

.u-section-5 .u-text-1 {
  margin: -467px 0 0 570px;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  line-height: 1.2;
  font-size: 1.875rem;
  margin: -482px 46px 60px 584px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 370px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 150px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1127px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 338px;
    margin-top: 23px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -713px;
    margin-left: 0;
    margin-bottom: 707px;
  }
}

.u-section-5 .u-image-1,
.u-section-5 .u-image-1:before,
.u-section-5 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-5 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}